<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,113},{111,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{111,78}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>lang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,189},{107,78}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{107,78}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>lang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{103,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{103,88}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>lang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,171},{109,88}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{109,88}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>pojia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{91,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{91,86}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>pojia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{85,86}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{85,86}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>pojia3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{89,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{89,78}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>pojia4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,377},{77,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{77,82}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>shirenmo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,193},{101,94}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{101,94}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>shirenmo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,101},{117,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{117,86}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>shirenmo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{113,90}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{113,90}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>shirenmo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,269},{101,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{101,90}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>sishen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,97}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{141,97}}</string>
                <key>sourceSize</key>
                <string>{161,117}</string>
            </dict>
            <key>sishen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,103}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{141,103}}</string>
                <key>sourceSize</key>
                <string>{161,117}</string>
            </dict>
            <key>sishen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{135,109}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{135,109}}</string>
                <key>sourceSize</key>
                <string>{161,117}</string>
            </dict>
            <key>sishen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,90},{79,85}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,16},{79,85}}</string>
                <key>sourceSize</key>
                <string>{161,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CopyMapAnimate.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:593b9ccc7718ccd599c3ff5fef130362$</string>
            <key>textureFileName</key>
            <string>CopyMapAnimate.pvr.ccz</string>
        </dict>
    </dict>
</plist>
