<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aim.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,106},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>attackdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,518},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>attackup.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,863},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>battle_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{344,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,132}}</string>
                <key>sourceSize</key>
                <string>{346,132}</string>
            </dict>
            <key>bloodfrm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{637,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,35}}</string>
                <key>sourceSize</key>
                <string>{637,35}</string>
            </dict>
            <key>brokensheild.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,300},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,558},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>chucitongguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{373,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,84}}</string>
                <key>sourceSize</key>
                <string>{373,84}</string>
            </dict>
            <key>dengjitisheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{334,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,83}}</string>
                <key>sourceSize</key>
                <string>{334,83}</string>
            </dict>
            <key>fightDlg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,578},{219,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{219,170}}</string>
                <key>sourceSize</key>
                <string>{221,170}</string>
            </dict>
            <key>fr_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,377},{139,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,86}}</string>
                <key>sourceSize</key>
                <string>{139,86}</string>
            </dict>
            <key>goldbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,518},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>hand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,474},{76,88}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{76,88}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>handprogrs.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,968},{54,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,6}}</string>
                <key>sourceSize</key>
                <string>{54,6}</string>
            </dict>
            <key>huihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,799},{51,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,26}}</string>
                <key>sourceSize</key>
                <string>{51,26}</string>
            </dict>
            <key>icon_juedifanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,558},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>icon_recover.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,558},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>invincible1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,300},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>invincible2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,300},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>invincible3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,68},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>invincible4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>invincible5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>invincible6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,591},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>mblood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,338},{62,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,6}}</string>
                <key>sourceSize</key>
                <string>{62,6}</string>
            </dict>
            <key>mblood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,904},{62,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,6}}</string>
                <key>sourceSize</key>
                <string>{62,6}</string>
            </dict>
            <key>mblood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,904},{62,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,6}}</string>
                <key>sourceSize</key>
                <string>{62,6}</string>
            </dict>
            <key>mblood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,904},{62,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,6}}</string>
                <key>sourceSize</key>
                <string>{62,6}</string>
            </dict>
            <key>mblood5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,799},{62,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,6}}</string>
                <key>sourceSize</key>
                <string>{62,6}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,906},{95,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,25}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>monsterblood15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{427,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,39}}</string>
                <key>sourceSize</key>
                <string>{427,39}</string>
            </dict>
            <key>monsterblood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,799},{105,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,39}}</string>
                <key>sourceSize</key>
                <string>{105,39}</string>
            </dict>
            <key>monsterblood5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,949},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>monsterblood8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{280,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,39}}</string>
                <key>sourceSize</key>
                <string>{280,39}</string>
            </dict>
            <key>playerblood.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{574,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,10}}</string>
                <key>sourceSize</key>
                <string>{574,10}</string>
            </dict>
            <key>poison.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,906},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>sandglass.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,346},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>sheild.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,591},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>stone0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,204},{94,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{94,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>stone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,452},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,102}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>stone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,348},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,102}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>stone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,454},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,102}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>stone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,348},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,102}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>stone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,799},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,102}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>stonebk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{318,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,265}}</string>
                <key>sourceSize</key>
                <string>{318,265}</string>
            </dict>
            <key>triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,377},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>vertigo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,591},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>vertigo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,591},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>vertigo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,591},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>vertigo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,558},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>vertigo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,558},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>vertigo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,558},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fs2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1373b66159103750d160b12db200632c$</string>
            <key>textureFileName</key>
            <string>fs2.png</string>
        </dict>
    </dict>
</plist>
