<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>canMoveGem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{65,279}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,279}}</string>
                <key>sourceSize</key>
                <string>{69,279}</string>
            </dict>
            <key>canMoveGem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{65,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,280}}</string>
                <key>sourceSize</key>
                <string>{65,280}</string>
            </dict>
            <key>canMoveGem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,284}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{95,284}}</string>
                <key>sourceSize</key>
                <string>{95,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guide_gem.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da2d7a4dcccd5c0b9172b5eb79dd8e40$</string>
            <key>textureFileName</key>
            <string>guide_gem.png</string>
        </dict>
    </dict>
</plist>
