<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,843},{54,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,21},{54,109}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1023},{172,109}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,21},{172,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,155},{119,111}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{119,111}}</string>
                <key>sourceSize</key>
                <string>{183,151}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1031},{168,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{168,113}}</string>
                <key>sourceSize</key>
                <string>{194,151}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,1067},{168,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{168,109}}</string>
                <key>sourceSize</key>
                <string>{198,151}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{176,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{176,109}}</string>
                <key>sourceSize</key>
                <string>{198,151}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1067},{171,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{171,109}}</string>
                <key>sourceSize</key>
                <string>{189,151}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1027},{173,109}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{173,109}}</string>
                <key>sourceSize</key>
                <string>{199,151}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,918},{172,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{172,111}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,918},{173,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{173,111}}</string>
                <key>sourceSize</key>
                <string>{189,151}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1021},{174,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{174,109}}</string>
                <key>sourceSize</key>
                <string>{194,151}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1178},{112,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{112,109}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,565},{228,111}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{228,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1021},{176,111}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{176,111}}</string>
                <key>sourceSize</key>
                <string>{202,151}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1017},{218,113}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{218,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,912},{220,113}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{220,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,690},{224,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{224,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,904},{222,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{222,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{222,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{222,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,908},{222,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{222,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,680},{224,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{224,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,682},{226,111}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{226,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1134},{112,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{112,109}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,345},{228,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{228,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,918},{168,113}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{168,113}}</string>
                <key>sourceSize</key>
                <string>{202,151}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,801},{220,115}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{220,115}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,609},{206,117}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{206,117}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,686},{224,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{224,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,793},{224,109}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{224,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,686},{224,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{224,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,803},{220,113}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{220,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,571},{224,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{224,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,341},{228,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{228,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1088},{118,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,109}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,115},{232,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{232,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,956},{190,109}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{190,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{224,111}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{224,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,728},{210,113}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{210,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,226},{230,109}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{230,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{228,113}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{228,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,571},{228,109}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{228,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,795},{224,111}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{224,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,454},{228,111}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{228,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,226},{232,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{232,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,1199},{114,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{114,109}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{232,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{232,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,381},{188,113}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{188,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,904},{222,115}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{222,115}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,793},{222,117}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{222,117}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,456},{228,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{228,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{226,109}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{226,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>56.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,565},{226,113}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{226,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,450},{228,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{228,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>58.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,339},{228,113}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{228,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,228},{230,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{230,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,1134},{116,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{116,109}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,228},{232,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{232,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,912},{190,109}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{190,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>62.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,791},{224,111}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{224,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,575},{224,113}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{224,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{230,109}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{230,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,460},{226,113}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{226,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,115},{232,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{232,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>67.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,678},{226,111}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{226,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>68.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,452},{228,111}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{228,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>69.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,115},{232,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{232,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,268},{118,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{118,111}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>70.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{234,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{234,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,496},{192,111}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{192,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,456},{226,113}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{226,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{226,115}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{226,115}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,228},{232,111}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{232,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>75.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,337},{228,113}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{228,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>76.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{234,111}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{234,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,117},{232,111}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{232,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>78.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,343},{230,111}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{230,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{234,111}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{234,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1142},{116,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{116,111}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>80.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,115},{232,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{232,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>81.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,843},{190,111}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{190,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>82.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,680},{224,111}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{224,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,571},{224,113}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{224,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>84.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,337},{230,111}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{230,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>85.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,456},{226,113}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{226,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,115},{232,111}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{232,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>87.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,226},{230,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{230,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{230,111}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{230,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2},{232,111}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{232,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1031},{118,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{118,109}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>90.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{234,111}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{234,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>91.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,801},{192,109}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{192,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>92.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,567},{226,111}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{226,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>93.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,341},{226,113}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{226,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>94.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{232,109}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{232,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>95.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,230},{228,113}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{228,113}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>96.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{234,109}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{234,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>97.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{232,111}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{232,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>98.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,113},{232,111}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{232,111}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{236,109}}</string>
                <key>sourceSize</key>
                <string>{240,151}</string>
            </dict>
            <key>lianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,2},{152,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,151}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lianjipng.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aec5c9b3c02aa79433377b3fb11928ab$</string>
            <key>textureFileName</key>
            <string>lianjipng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
