<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,264},{54,218}}</string>
                <key>offset</key>
                <string>{-149,211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,0},{54,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lightning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,264},{62,206}}</string>
                <key>offset</key>
                <string>{-150,217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,0},{62,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lightning3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{152,240}}</string>
                <key>offset</key>
                <string>{168,200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,0},{152,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lightning4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,260}}</string>
                <key>offset</key>
                <string>{146,190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{521,0},{210,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lightning5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightning.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b38c4be416f8dfbc20b1726f91ea41f$</string>
            <key>textureFileName</key>
            <string>lightning.png</string>
        </dict>
    </dict>
</plist>
