<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dafazhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,278},{361,91}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{361,91}}</string>
                <key>sourceSize</key>
                <string>{361,105}</string>
            </dict>
            <key>fazhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{274,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,95}}</string>
                <key>sourceSize</key>
                <string>{274,95}</string>
            </dict>
            <key>haidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{222,282}}</string>
                <key>offset</key>
                <string>{195,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{564,298},{222,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>knife.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,641},{241,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,85}}</string>
                <key>sourceSize</key>
                <string>{241,85}</string>
            </dict>
            <key>shiremo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,362}}</string>
                <key>offset</key>
                <string>{6,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,239},{324,362}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>xuejingling.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{236,252}}</string>
                <key>offset</key>
                <string>{-200,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,316},{236,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_All_png.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04106c8f3440be5dc7c6915ebec6f762$</string>
            <key>textureFileName</key>
            <string>main_All_png.pvr.ccz</string>
        </dict>
    </dict>
</plist>
