<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_blood_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,768},{168,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{168,114}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_blood_atk (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{930,782},{172,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{172,116}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_blood_be_atked (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,968},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{160,112}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_blood_move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{238,792},{150,118}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{150,118}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_blood_move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,852},{150,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{150,120}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_blood_move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,792},{150,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{150,112}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_blood_rest (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,804},{156,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{156,116}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_blood_rest (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,884},{154,114}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{154,114}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_dij_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1018},{115,119}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{115,119}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>m_dij_atk (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,938},{131,111}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{131,111}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>m_dij_atk (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{684,937},{143,119}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,119}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>m_dij_be_atked (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1135},{131,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{131,105}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>m_dij_move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,922},{143,115}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{143,115}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>m_dij_move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1039},{143,107}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{143,107}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>m_dij_move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{690,822},{145,113}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{145,113}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>m_dij_rest (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1030},{143,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{143,115}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>m_dij_rest (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{837,900},{143,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{143,119}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>m_hd_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1051},{112,114}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,9},{112,114}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_hd_atk (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{542,792},{146,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{146,116}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_hd_be_atked (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,906},{146,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{146,110}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_hd_move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,606},{134,124}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{134,124}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_hd_move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1000},{134,114}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{134,114}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_hd_move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,804},{132,120}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{132,120}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_hd_rest (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1058},{138,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{138,116}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_hd_rest (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1021},{138,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{138,116}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_pj_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{262,378},{250,236}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{250,236}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_pj_atk (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{264,238}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{264,238}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_pj_be_atked (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{218,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{218,234}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_pj_move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{256,244}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{256,244}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_pj_move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,188},{238,242}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{238,242}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_pj_move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{248,216}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{248,216}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_pj_rest (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,402},{208,226}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,19},{208,226}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_pj_rest (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{222,234}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,11},{222,234}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_srm_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,428},{92,118}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{92,118}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>m_srm_atk (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{538,910},{144,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{144,118}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>m_srm_atk (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{144,102}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{144,102}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>m_srm_be_atked (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,890},{148,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{148,108}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>m_srm_move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1139},{138,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{138,108}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>m_srm_move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{146,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{146,100}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>m_srm_move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{238,912},{146,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{146,106}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>m_srm_rest (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1018},{144,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{144,106}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>m_srm_rest (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1020},{144,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{144,104}}</string>
                <key>sourceSize</key>
                <string>{150,128}</string>
            </dict>
            <key>m_ss5000_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{258,160}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,63},{258,160}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_ss5000_atk (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{268,156}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,67},{268,156}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_ss5000_atk (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,218},{262,158}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,65},{262,158}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_ss5000_be_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,628},{174,188}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,34},{174,188}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_ss5000_move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{492,638},{222,152}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{222,152}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_ss5000_move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,238},{220,162}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{220,162}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_ss5000_move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{716,648},{212,172}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,51},{212,172}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_ss5000_rest (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,606},{208,160}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,61},{208,160}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_ss5000_rest (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,808},{200,158}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,65},{200,158}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sts_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{514,442},{238,194}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{238,194}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sts_atk (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{984,586},{212,194}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,39},{212,194}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sts_atk (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,196}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{284,196}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sts_be_atked (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,428},{216,198}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,43},{216,198}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sts_move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,612},{206,194}}</string>
                <key>offset</key>
                <string>{21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,38},{206,194}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sts_move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,220},{240,176}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,41},{240,176}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sts_move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,398},{230,186}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,38},{230,186}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sts_rest (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,178},{244,202}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,41},{244,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sts_rest (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{790,248},{238,198}}</string>
                <key>offset</key>
                <string>{17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,45},{238,198}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sxl_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{184,246}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,6},{184,246}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sxl_atk (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,382},{242,222}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{242,222}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sxl_be_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{268,214}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{268,214}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sxl_move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{246,174}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,61},{246,174}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sxl_move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,616},{236,174}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{236,174}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sxl_move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{754,448},{228,198}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,54},{228,198}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sxl_rest (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{536,242},{252,198}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,51},{252,198}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_sxl_rest (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{250,196}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,54},{250,196}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>m_xue_atk (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{982,900},{116,120}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,4},{116,120}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_xue_atk (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,768},{130,120}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{130,120}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_xue_atk (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1148},{112,110}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{112,110}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_xue_be_atked (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,742},{122,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{122,108}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_xue_move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1000},{108,110}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{108,110}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_xue_move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1116},{104,104}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{104,104}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_xue_move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1242},{104,112}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,10},{104,112}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_xue_rest (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1004},{110,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{110,106}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>m_xue_rest (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1110},{108,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{108,108}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a01d96139091bb689cdff404ae87cac$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
