<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stg_animate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{250,202}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{250,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{250,202}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{250,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,274},{252,202}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,37},{252,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{258,202}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{258,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{250,202}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{250,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate14.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,274},{252,202}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,37},{252,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{258,202}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{258,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{250,202}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{250,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate17.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,274},{252,202}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,37},{252,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{258,202}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{258,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate19.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,230}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{270,230}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,274},{252,202}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,37},{252,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,230}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{270,230}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{258,202}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{258,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{250,202}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{250,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,274},{252,202}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,37},{252,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{258,202}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{258,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{250,202}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{250,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,274},{252,202}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,37},{252,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>stg_animate9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{258,202}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{258,202}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>STG_Skill.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1695b6f989a8d163ade295b07ea3b999$</string>
            <key>textureFileName</key>
            <string>STG_Skill.png</string>
        </dict>
    </dict>
</plist>
