<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_be_attacked (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{132,228},{32,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{32,26}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>wall_be_attacked (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{132,162},{56,64}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{56,64}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>wall_be_attacked (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{50,64}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{50,64}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>wall_be_attacked (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{136,112},{46,48}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{46,48}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>wall_be_attacked (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{190,54},{56,62}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{56,62}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>wall_be_attacked (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{70,162},{60,70}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{60,70}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>wall_be_attacked (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{70,84},{64,76}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{64,76}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>wall_be_attacked (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{66,80}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{66,80}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>wall_be_attacked (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{66,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{66,80}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>wall_be_attacked (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{68,80}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>wall_be_attacked (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{70,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{70,62}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wall_be_attacked.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc253f7909b10e41a081114b7f5f4fe$</string>
            <key>textureFileName</key>
            <string>wall_be_attacked.pvr.ccz</string>
        </dict>
    </dict>
</plist>
