<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wingItem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,128},{54,58}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{54,58}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>wingItem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{60,58}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,35},{60,58}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>wingItem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{68,58}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,35},{68,58}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>wingItem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{76,60}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{76,60}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>wingItem5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,62}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{88,62}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wingItemCCZ.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a76498f163b9e9de209ff4f4b817deb5$</string>
            <key>textureFileName</key>
            <string>wingItemCCZ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
